<%- include('.././partials/navbarAdmin.ejs'); %>
<%- include('.././partials/sidemenuAdmin.ejs'); %>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<style>
    .card-body{
        border: 1px solid black;
    }
</style>

<main>
    <section style="background-color: #eee;">
        <div class="container py-5">
      
          <div class="row p-5">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                  <img src="/public/Images/user.png" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;">
                  <h5 class="my-3"><%=user.name%></h5>
                  <p class="text-muted mb-1"><%=user.email%></p>
                  <p class="text-muted mb-4"><%=user.address%></p>
                  <div class="d-flex justify-content-center mb-2">
                    <button type="button" class="btn btn-danger-custom">Edit Profile</button>
                    <button type="button" class="btn btn-outline-primary ms-1">Change Profile Picture</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Id</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0"><%=user._id%></p>
                      </div>
                      </div>
                      <hr>
                      <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Age</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%=moment().diff(user.dob, 'years')+" years "%></p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Gender</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%=user.gender%></p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3 mt-2">
                      <p class="mb-0">Blood Group</p>
                    </div>
                    <div class="col-sm-9">
                      <span class="btn btn-danger-custom"><b><%=user.bloodgroup%></b></span>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Phonenumber</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%=user.phonenumber%></p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Date Joined</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%=user.date%></p>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </section>
  </main>
  <!--Main layout-->