<%- include('.././partials/navbarAdmin.ejs'); %>
<%- include('.././partials/sidemenuAdmin.ejs'); %>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

<main>
    <section>
        <div class="container py-5">
          <div class="row p-5">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                  <img src="/public/Images/user.png" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;">
                  <h5 class="my-3"><%=profile.name%></h5>
                  <% if (profile.status === 'Idle') { %>
                    <button type="button" class="btn btn-secondary m-2"><%=profile.status%></button>
                <% } else if (profile.status === 'Doner') { %>
                  <button type="button" class="btn btn-warning m-2"><%=profile.status%></button>
                  <% } else { %>
                    <button type="button" class="btn btn-danger-custom m-2"><%=profile.status%></button>
                <% } %>
                  <p class="text-muted mb-1"><%=profile.email%></p>
                  <p class="text-muted mb-4"><%=profile.address%></p>
                  <div class="d-flex justify-content-center mb-2">
                    <button class="btn btn-danger-custom" data-bs-toggle="modal" data-bs-target="#userDeleteModal<%=profile._id%>">Delete Account<i class="fas fa-trash ms-2"></i></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Id</p>
                      </div>
                      <div class="col-sm-9">
                        <p class="text-muted mb-0"><%=profile._id%></p>
                      </div>
                      </div>
                      <hr>
                      <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Age</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%=moment().diff(profile.dob, 'years')+" years "%></p>

                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Gender</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%=profile.gender%></p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3 mt-2">
                      <p class="mb-0">Blood Group</p>
                    </div>
                    <div class="col-sm-9">
                     <span class="btn btn-danger-custom"><b><%=profile.bloodgroup%></b></span>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Phonenumber</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%=profile.phonenumber%></p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Date Joined</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%=profile.date%></p>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>


        <!-- Account Delete Modal -->
           
       <div class="modal fade" id="userDeleteModal<%=profile._id%>" tabindex="-1" role="dialog" aria-labelledby="userDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="userDeleteModalLabel">Delete User Account</h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form action="/admin/user/delete/<%=profile._id%>" method="post">
                    <div class="col-10 m-auto">
                        <div class="card">
                          <div class="card-body align-self-center">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger-custom">Delete Account</button>
                          </div>
                        </div>
                    </div>
                  </form>
            </div>
        </div>
        </div>
    </div>
      </section>
  </main>
  <!--Main layout-->