<%- include('.././partials/navbar.ejs'); %> <%-
include('.././partials/sidemenu.ejs'); %>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
  crossorigin="anonymous"
/>
<main>
  <section style="background-color: #eee">
    <div class="container py-2 mt-5">
      <div class="form-outline mt-5">
        <input type="search" id="form1" class="form-control" placeholder="Search here" aria-label="Search" />
      </div>
      <%- include('.././partials/messages.ejs'); %>
      <table class="table table-hover mt-5"">
        <thead class="bg-dark">
          <tr>
            <th scope="col" class="text-light">Name</th>
            <th scope="col" class="text-light">Blood Group</th>
            <th scope="col" class="text-light">Address</th>
            <th scope="col" class="text-light">Status</th>
          </tr>
        </thead>
        <% users.forEach(User => { %>
        <tbody>
          <tr>
            <td><a href="/profile/<%=User._id%>" style="text-decoration: none;"><b class="text-dark"><%=User.name%><b></a></td>
            <td><%=User.bloodgroup%></td>
            <td><%=User.address%></td>
            <% if (User.status === 'Idle') { %>
              <td><button type="button" class="btn btn-secondary m-0"><%=User.status%></button></td>
          <% } else if (User.status === 'Doner') { %>
            <td><button type="button" class="btn btn-warning m-0"><%=User.status%></button></td>
            <% } else { %>
              <td><button type="button" class="btn btn-danger m-0"><%=User.status%></button></td>
          <% } %>
          </tr>
        </tbody>
        <% }) %>
      </table>
    </div>
  </section>
</main>
